$color-black: #000;
$color-white: #fff;
$color-grey: #575B5B;
$color-light-grey: #dcdcdc;
$color-thunderbird: #BC301A;

$font-hannari: "Noto Sans Japanese";
$font-material-icon: "Material Icons";

////
/// ブレイクポイント.
////
// Extra small devices: 0 - 543px.
$screen-xs-min: 0;
$screen-xs-max: 33.9375em;
// Small devices: 544px - 767px
$screen-sm-min: 34em;
$screen-sm-max: 47.9375em;
// Medium devices: 768px - 991px
$screen-md-min: 48em;
$screen-md-max: 61.9375em;
// Large devices: 992px - 1199px
$screen-lg-min: 62em;
$screen-lg-max: 74.9375em;
// Extra large devices: 1200px -
$screen-xl-min: 75em;
