@import "variables";
@import "mixins/*.scss";
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.layout-header {
  box-sizing: border-box;
  position: relative;
   * {
     box-sizing: border-box;
   }
}
.layout-header-wrapper {
  box-sizing: border-box;
  background-color: rgba($color-white, 0.8);
  position: relative;
  padding: 5px;
  height: 45px;
  width: 100%;
}
.layout-header-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 80%;
  img {
    max-width: 350px;
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
}

.layout-menu-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
}

.layout-main {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  filter: blur(0);
  transition: 0.3s ease-out;
}
.layout-footer {
  color: $color-white;
  min-height: 50px;
  background-color: $color-grey;
}