@charset "UTF-8";
.block-views-blockaccess-block-1 {
  margin-left: calc(-1 * (100vw - 100%) / 2);
  margin-right: calc(-1 * (100vw - 100%) / 2);
  padding-left: calc((100vw - 100%) / 2);
  padding-right: calc((100vw - 100%) / 2);
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f2f0ef; }

.view-access {
  background: #fff; }
  .view-access .views-field-field-accessaddress {
    min-width: 280px;
    width: 100%;
    height: 300px; }
    .view-access .views-field-field-accessaddress .access__gmap {
      height: 100%; }
  .view-access .access__address {
    text-align: left;
    padding: 1em 2em; }

.contact-message-contact-form input,
.contact-message-contact-form select,
.contact-message-contact-form textarea {
  border: 1px solid #575B5B;
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.contact-message-contact-form label,
.contact-message-contact-form legend {
  display: inline-block;
  width: 10em; }

.contact-message-contact-form .form-item-field-contacttype {
  display: inline-block; }
  .contact-message-contact-form .form-item-field-contacttype + .form-item-field-contacttype {
    margin-left: 1em; }

.contact-message-contact-form .fieldset-legend {
  font-weight: normal; }

.contact-message-contact-form .form-text,
.contact-message-contact-form .form-email,
.contact-message-contact-form .form-select {
  width: 79%; }

.contact-message-contact-form .form-submit {
  border: none;
  width: 200px;
  height: 60px;
  background-color: #BC301A;
  color: #fff;
  font-size: 1.2rem; }

.copyright {
  text-align: center;
  padding: 12px;
  margin: 0; }

.our-concept {
  max-width: 768px;
  margin: 0 auto; }
  .our-concept__body {
    text-align: left;
    font-size: 1.2rem; }
  .our-concept__author {
    text-align: right;
    font-size: 1.4rem; }

.page-title {
  margin-left: calc(-1 * (100vw - 100%) / 2);
  margin-right: calc(-1 * (100vw - 100%) / 2);
  padding-left: calc((100vw - 100%) / 2);
  padding-right: calc((100vw - 100%) / 2);
  padding: 1em 0;
  background: #f2f0ef; }

.block-views-blockpartners-view-block-1 {
  margin-left: calc(-1 * (100vw - 100%) / 2);
  margin-right: calc(-1 * (100vw - 100%) / 2);
  padding-left: calc((100vw - 100%) / 2);
  padding-right: calc((100vw - 100%) / 2);
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 50px; }

.view-partners-view .views-row + .views-row {
  margin-top: 20px; }

.view-partners-view .partner_summary {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 300px;
  text-align: center;
  padding: 0.5rem; }

.view-partners-view .partner_image {
  padding: 0 50px; }
  .view-partners-view .partner_image img {
    vertical-align: middle;
    border-radius: 50%; }

.view-partners-view .partner_name {
  margin-top: 0; }

.view-partners-view .partner_description {
  text-align: left; }

.node--type-hatona .node__submitted {
  display: none; }

.node--type-hatona .field--name-field-position {
  font-size: 1.2rem;
  margin-bottom: 1em; }

.node--type-hatona .node__content {
  padding: 1em 0;
  text-align: left; }

.node--type-hatona .field--name-field-image {
  text-align: center; }
  .node--type-hatona .field--name-field-image img {
    border-radius: 50%;
    width: 200px;
    height: auto; }

.block-views-blockservices-block-1 {
  padding: 50px 0; }

.view-services .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.view-services .views-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  background: #f1f0ef;
  padding: 0.8em 2em;
  min-width: 300px;
  margin-bottom: 15px; }

.view-services .service-title {
  font-size: 1.2rem;
  position: relative; }
  .view-services .service-title i {
    margin-left: 5px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.view-services .service-description {
  text-align: left;
  line-height: 1.5; }

.view-services .service-detail-link-wrapper {
  margin-top: auto; }

.view-services .service-detail-link {
  position: relative; }
  .view-services .service-detail-link a {
    text-decoration: none; }
    .view-services .service-detail-link a::after {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      font-family: "Material Icons";
      content: 'chevron_right'; }

.node--type-service {
  text-align: left;
  min-width: 300px;
  width: 70%;
  margin: 0 auto; }
  .node--type-service .field--type-text-with-summary {
    padding: 2em 0; }
  .node--type-service .field--name-field-service-example {
    margin-left: calc(-1 * (100vw - 100%) / 2);
    margin-right: calc(-1 * (100vw - 100%) / 2);
    padding-left: calc((100vw - 100%) / 2);
    padding-right: calc((100vw - 100%) / 2);
    text-align: center;
    background: #fafafa; }
    .node--type-service .field--name-field-service-example .field__label {
      display: inline-block;
      font-size: 1.2rem;
      letter-spacing: 0.1em;
      margin: 1em 0; }
    .node--type-service .field--name-field-service-example .service-example {
      display: inline-block;
      text-align: left; }
      .node--type-service .field--name-field-service-example .service-example > * {
        margin-bottom: 1em; }
    .node--type-service .field--name-field-service-example .service-example__label::before {
      content: "■"; }
    .node--type-service .field--name-field-service-example .service-example__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column; }
    .node--type-service .field--name-field-service-example .service-example__summary {
      font-size: 1.1em; }
    .node--type-service .field--name-field-service-example .service-example__note {
      font-size: 0.8em;
      color: #575B5B; }

.view-slideshow .slick-list img {
  margin: 0 auto;
  width: 100%;
  height: auto; }

.view-slideshow .slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .view-slideshow .slick-dots li + li {
    margin-left: 12px; }
  .view-slideshow .slick-dots button {
    background-color: #575B5B;
    display: block;
    overflow: hidden;
    width: 12px;
    height: 12px;
    padding: 0;
    border: none;
    border-radius: 50%;
    white-space: nowrap;
    text-indent: 12px; }
  .view-slideshow .slick-dots .slick-active button {
    background-color: #BC301A; }
