.contact-message-contact-form {
  max-width: 800px;
  margin: 0 auto;
  input,
  select,
  textarea {
    border: 1px solid $color-grey;
    border-radius: 5px;
    padding: 0.5em;
    box-sizing: border-box;
  }

  label,
  legend {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 10em;
  }

  .form-item-field-contacttype {
    display: inline-block;
    width: 100%;
  }

  .fieldset-legend {
    font-weight: normal;
  }

  .form-text,
  .form-email,
  .form-select,
  .form-textarea-wrapper {
    display: inline-block;
    width: 79%;
  }

  .form-submit {
    border: none;
    width: 200px;
    height: 60px;
    background-color: $color-thunderbird;
    color: $color-white;
    font-size: 1.2rem;
  }
}